.picker {
    width: 30rem;
    max-width: 80%;
    height: 20rem;
    max-height: 30vh;
    margin: auto;
    display: felx;
    justify-content: center;
    align-items: center;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
input[type="file"] {
    display: none;
}